@charset "UTF-8";

body, input, textarea, select, button, h1, h2, h3, h4, h5, h6 {
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

body {
    margin: 0;
}

.body_wrap {
    min-width: 1080px;
}

header {
    height: 120px;
    background-color: #000;
    line-height: 120px;
}

.head {
    color: #fff;
    width: 1000px;
    margin: auto;
    font-size: 40px;
    padding: 0 40px;
}

main {
    background-color: #fff;
    width: 1000px;
    padding : 40px;
    margin: auto;
}

.nav_buttonlist {
    display: block;
}

.nav_buttonlist::after {
    clear: both;
    content: '';
    display: block;
}

.box_nav {
    width: 322px;
    font-size: 16px;
    color: #000;
    border: 1px solid #d1d1d1;
    text-align: center;
    float: left;
    line-height: 33px;
    text-decoration: none;
    margin: 0 0 0 14px;
}

.box_nav:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.box_nav:first-child {
    margin: 0px;
}

.head2 {
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #454545;
    line-height: 60px;
    margin: 30px 0px;
}

.box_element {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}

.box_element_head {
    padding: 0 15px;
    background-color: #f7f7f7;
    line-height: 46px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}

.box_element_body {
    padding:30px;
    color: #000;
}

.table_kidclothessize_head {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 15px 0px;
}

.table_kidclothessize {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.table_kidclothessize > caption {
    visibility: hidden;
    height: 0px;
}

.table_kidclothessize > colgroup > .size_divide {
    width: 174px;
}

.table_kidclothessize > colgroup > .size_content {
    width: 85px;
}

.table_kidclothessize > colgroup > .size_last_content {
    width: 85px;
}

.table_kidclothessize > thead > tr > th {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4;
    padding: 10px;
}

.table_kidclothessize > tbody > tr > th, .table_kidclothessize > tbody > tr > td {
    border: 1px solid #e4e4e4;
    padding: 10px;
}

.table_refund_head {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin: 30px 0px 15px; 
}

.table_refund {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.table_refund > caption {
    visibility: hidden;
    height: 0px;
}

.table_refund > colgroup > .size_divide {
    width: 340px;
}

.table_refund > colgroup > .size_content {
    width: 200px;
}

.table_refund > thead > tr > th {
    background-color: #fbfbfb;
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    font-weight: normal;
}

.table_refund > tbody > tr > th {
    padding: 10px;
    font-weight: normal;
}

.table_refund > tbody > tr > td {
    padding: 10px 70px 10px 10px;
    text-align: right;
}

.table_refund > tfoot > tr > th {
    font-weight: bold;
    background-color: #fbfbfb;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.table_refund > tfoot > tr > td {
    font-weight: bold;
    background-color: #fbfbfb;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 70px 10px 10px;
    text-align: right;
}

.title_register {
    font-size: 14px;
    color: #000;
    margin-top: 30px;
}

.title_register:first-child {
    font-size: 14px;
    color: #000;
    margin-top: 0px;
}

.form_register {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4e4;
    padding: 15px 15px 15px 15px;
}

.box_register {
    margin: 0 0 20px 0;
}

.label_register {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.input_register {
    font-size: 12px;
    color: #000;
    width: 890px;
    padding: 7px;
    border: 1px solid #e4e4e4;
}

.box_register_selector{
    margin: 0 0 20px 0;
}

.box_register_selectorlist {
    display: block;
}

.box_register_selectorlist::after{
    clear: both;
    content: '';
    display: block;
}

.select_register {
    font-size: 12px;
    float: left;
    width: 296px;
    padding: 7px;
    border: 1px solid #e4e4e4;
    margin-left: 9px;
}

.select_register:first-child{
    margin-left: 0px;
}

.box_checkbox {
    margin: 0 0 20px 0;
}

.box_register_check {
    display: inline-block;
    width: 105px;
}

.radio_register {
    vertical-align: top;
    margin: 0px;
    color: #000;
}

.label_register_check {
    vertical-align: top;
    font-size: 12px;
}

.checkbox_register {
    vertical-align: top;
    margin: 0px;
    color: #000;
}

.box_vertification {
    font-size: 0px;
    margin-bottom: 5px;
}

.box_vertification::after {
    clear: both;
    content: '';
    display: block;
}

.input_register_tel {
    font-size: 12px;
    color: #000;
    padding: 7px;
    border: 1px solid #e4e4e4;
    width: 750px;
    float: left;
}

.button_vertification_code {
    width: 130px;
    float: right;
    border: 1px solid #08a600;
    background-color: #4ec54d;
    font-size: 12px;
    color: #fff;
    padding: 7px;
}

.button_vertification_code:hover {
    cursor: pointer;
}

.textarea_register {
    font-size: 12px;
    width: 890px;
    height: 100px;
    resize: none;
    border: 1px solid #e4e4e4;
    padding: 7px;
}

.button_register_submit {
    width: 906px;
    padding: 9px;
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 16px;
    color: #fff;
}

.button_register_submit:hover {
    cursor: pointer;
}

.box_list {
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-bottom: 30px;
}

.head_project {
    display: block;
    font-size: 32px;
    color: #000;
    text-align: center;
    margin: 16px 0;
}

.dl_project_dict > dt {
    margin: 30px 0px 0px;
    color: #000;
}

.dl_project_dict > dt:first-child {
    margin: 0px;
}

.dl_project_dict > dd {
    font-size: 12px;
    margin: 10px 0 0 0;
    color: #000;
}

.strong_dt_name{
    font-size: 14px;
}

.span_dt_source {
    font-size: 12px;
    color: #559bfa;
}


.ol_list_searchword {
    display: inline-block;
    border: 1px solid #e4e4e4;
    margin: 0px;
    padding: 20px 100px 20px 20px;
}

.li_list_searchword {
    display: block;
}

.box_number_line { 
    display: inline-block;
    border: 1px solid #e4e4e4;
    width: 17px;
    text-align: center;
    font-size: 10px;
    color: #666;
    vertical-align: middle;
    margin: 5px;
    line-height: 17px;
}

.a_list_searchword {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    line-height: 17px;
}

.a_list_searchword:hover {
    text-decoration: underline;
}

.ul_list_cookie {
    border: 1px solid #e4e4e4;
    margin: 0px;
    padding: 20px 20px 20px 40px;
}

.li_list_cookie {
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
}

.span_color_webtoon {
    font-size: 12px;
    color: #559bfa;
}

.span_color_expireday {
    font-size: 12px;
    color: #ec5336;
}

.a_list_cookie {
    text-decoration: underline;
    color: #559bfa;
}

.ul_list_news {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    border: 1px solid #e4e4e4;
    padding: 20px;
}

.li_list_news_withimg {
    border-top: 1px solid #e4e4e4;
    padding-top: 15px;
    margin-top: 15px;
}

.li_list_news_withimg::after {
    clear: both;
    content: '';
    display: block;
}

.li_list_news_withimg:first-child {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
}

.img_list_news {
    float: left;
    margin-right: 15px;
    width: 88px;
    height: 88px;
}

.box_list_news_text {
    width: 100%;
}

.a_list_news_title {
    font-size: 14px;
    color: #00c;
    font-weight: bold;
    text-decoration: underline;
}

.p_list_news_body {
    font-size: 12px;
    color: #000;
}

.ul_list_webtoon {
    list-style: none;
    margin: 0px;
    border: 1px solid #e4e4e4;
    padding: 20px 0px 20px 20px;
    white-space: normal;
}


.ul_list_webtoon::after {
    clear: both;
    content: '';
    display: block;
}

.li_list_webtoon {
    margin: 0px 20px 20px 0px;
    float: left;
}

.a_list_webtoon {
    text-decoration: none;
}

.img_list_webtoon {
    width: 285px;
    height: 140px;
    vertical-align: top;
}

.box_list_webtoon_title {
    margin: 5px 0px;
    
}

.strong_list_webtoon_title {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
}

.strong_list_webtoon_title:hover {
    text-decoration: underline;
}

.p_list_webtoon_body {
    font-size: 12px;
    color: #000;
    margin: 0px;
}

.p_list_webtoon_body:hover {
    text-decoration: underline;
}

.span_tag_cuttoon {
    border: 1px solid #71b036;
    background-color: #80c83d;
    font-size: 10px;
    color: #fff;
    font-weight: normal;
    padding: 2px;
    vertical-align: middle;
}

.span_tag_smarttoon {
    border: 1px solid #df4e28;
    background-color: #ec5336;
    font-size: 10px;
    color: #fff;
    font-weight: normal;
    padding: 2px;
    vertical-align: middle;
}

footer {
    border-top: 1px solid #d1d1d1;
    padding: 23px;
    text-align: center;
}

.info {
    font-size: 12px;
    color: #999;
}

.address_name {
    display: inline-block;
    font-style: normal;
}

.copyright {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}