@charset "UTF-8";

body, input, textarea, select, button {
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, p {
	margin: 0;
	padding: 0;
}

table {
    border-collapse: collapse;
}

ul, ol {
	list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: top;
}


.warp {
    min-width: 1080px;
}

header {
    height: 120px;
    background-color: #000;
    line-height: 120px;
}

.header_text {
    color: #fff;
    width: 1000px;
    margin: auto;
    font-size: 40px;
    padding: 0 40px;
}

main {
    background-color: #fff;
    width: 1000px;
    padding : 40px;
    margin: auto;
}

.button_list {
    display: block;
}

.button_list::after {
    clear: both;
    content: '';
    display: block;
}

.box_nav {
    width: 322px;
    font-size: 16px;
    color: #000;
    border: 1px solid #d1d1d1;
    text-align: center;
    float: left;
    line-height: 33px;
    text-decoration: none;
    margin-left: 14px;
}

.box_nav:hover {
    border: 1px solid #454545;
    font-weight: bold;
}

.box_nav:first-child {
    margin: 0;
}

.content_title {
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #454545;
    line-height: 60px;
    margin: 30px 0;
}

.box_element {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}

.box_element_head {
    padding: 0 15px;
    background-color: #f7f7f7;
    line-height: 46px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
}

.box_element_body {
    padding:30px;
    color: #000;
}

.kidclothessize_head {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
}

.kidclothessize {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 15px;
}

.kidclothessize > caption {
    visibility: hidden;
    height: 0;
}

.kidclothessize > colgroup > .size_divide {
    width: 174px;
}

.kidclothessize > colgroup > .size_content {
    width: 85px;
}

.kidclothessize > colgroup > .size_last_content {
    width: 85px;
}

.kidclothessize > thead > tr > th {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4;
    padding: 10px;
}

.kidclothessize > tbody > tr > th, .kidclothessize > tbody > tr > td {
    border: 1px solid #e4e4e4;
    padding: 10px;
}

.refund_head {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin: 30px 0 15px; 
}

.refund {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.refund > caption {
    visibility: hidden;
    height: 0;
}

.refund > colgroup > .size_divide {
    width: 340px;
}

.refund > colgroup > .size_content {
    width: 200px;
}

.refund > thead > tr > th {
    background-color: #fbfbfb;
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    font-weight: normal;
}

.refund > tbody > tr > th {
    padding: 10px;
    font-weight: normal;
}

.refund > tbody > tr > td {
    padding: 10px 70px 10px 10px;
    text-align: right;
}

.refund > tfoot > tr > th {
    font-weight: bold;
    background-color: #fbfbfb;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}

.refund > tfoot > tr > td {
    font-weight: bold;
    background-color: #fbfbfb;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 70px 10px 10px;
    text-align: right;
}

.register_title {
    font-size: 14px;
    color: #000;
    margin-top: 30px;
}

.register_title:first-child {
    font-size: 14px;
    color: #000;
    margin-top: 0;
}

.register_box {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4e4;
    padding: 15px;
    margin-top: 15px;
}

.register_element_box {
    margin-top: 20px;
}

.register_element_box:first-child {
    margin-top: 0;
}


.register_element_label {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.register_textinput {
    font-size: 12px;
    color: #000;
    width: 890px;
    padding: 7px;
    border: 1px solid #e4e4e4;
    margin-top: 10px;
}

.register_birthselect_box {
    margin-top: 10px;
}

.register_birthselect_box::after{
    clear: both;
    content: '';
    display: block;
}

.register_birth {
    font-size: 12px;
    float: left;
    width: 296px;
    padding: 7px;
    border: 1px solid #e4e4e4;
    margin-left: 9px;
}

.register_birth:first-child{
    margin-left: 0;
}

.register_check_box {
    display: inline-block;
    width: 105px;
    margin-top: 10px;
}

.register_gender_check {
    vertical-align: top;
    margin: 0;
    color: #000;
}

.register_hobby_name {
    vertical-align: top;
    font-size: 12px;
}

.register_hobby_check {
    vertical-align: top;
    margin: 0;
    color: #000;
}

.register_tel_box {
    margin-top: 10px;
}

.register_tel_box::after {
    clear: both;
    content: '';
    display: block;
}

.register_tel_input {
    font-size: 12px;
    color: #000;
    padding: 7px;
    border: 1px solid #e4e4e4;
    width: 750px;
    float: left;
}

.register_tel_vertification {
    font-size: 12px;
    color: #000;
    width: 890px;
    padding: 7px;
    border: 1px solid #e4e4e4;
    margin-top: 5px;
}

.register_vertification_get {
    width: 130px;
    float: right;
    border: 1px solid #08a600;
    background-color: #4ec54d;
    font-size: 12px;
    color: #fff;
    padding: 7px;
    cursor: pointer;
}

.register_introduction_write {
    font-size: 12px;
    width: 890px;
    height: 100px;
    resize: none;
    border: 1px solid #e4e4e4;
    padding: 7px;
    margin-top: 10px;
}

.register_introduction_submit {
    width: 100%;
    padding: 9px;
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.box_list {
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-top: 20px;
}

.head_project {
    display: block;
    font-size: 32px;
    color: #000;
    text-align: center;
    margin-top: 16px;
}

.dict_project_list {
    margin-top: 20px;
}

.dict_project_list > dt {
    margin-top: 30px;
    color: #000;
}

.dict_project_list > dt:first-child {
    margin: 0;
}

.dict_project_list > dd {
    font-size: 12px;
    margin-top: 10px;
    color: #000;
}

.dict_project_name{
    font-size: 14px;
}

.dict_subtitle {
    font-size: 12px;
    color: #559bfa;
}

.searchword_raking {
    display: inline-block;
    border: 1px solid #e4e4e4;
    margin-top: 20px;
    padding: 20px 100px 20px 20px;
}

.searchword_raking_list {
    display: block;
}

.box_number_line { 
    display: inline-block;
    border: 1px solid #e4e4e4;
    width: 17px;
    text-align: center;
    font-size: 10px;
    color: #666;
    vertical-align: middle;
    margin: 5px;
    line-height: 17px;
}

.searchword_raking_name {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    line-height: 17px;
}

.searchword_raking_name:hover {
    text-decoration: underline;
}

.cookie_policy {
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-top: 20px;
}

.cookie_policy_contents {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}

.cookie_policy_contents:first-child {
    margin-top: 0;
}

.color_webtoon {
    font-size: 12px;
    color: #559bfa;
}

.color_expireday {
    font-size: 12px;
    color: #ec5336;
    font-weight: normal;
}

.cookie_clause {
    text-decoration: underline;
    color: #559bfa;
}

.news_preview {
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin-top: 20px;
}

.news_preview_img {
    border-top: 1px solid #e4e4e4;
    padding-top: 15px;
    margin-top: 15px;
}

.news_preview_img::after {
    clear: both;
    content: '';
    display: block;
}

.news_preview_img:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.news_image_link {
    float: left;
    margin-right: 15px;
}

.news_preview_text {
    width: 100%;
}

.news_preview_title {
    font-size: 14px;
    color: #00c;
    font-weight: bold;
    text-decoration: underline;
}

.news_preview_substance {
    font-size: 12px;
    color: #000;
    overflow: hidden;
}

.webtoon_preview {
    border: 1px solid #e4e4e4;
    padding: 20px 21px 0 0;
    white-space: normal;
    margin-top: 20px;
}


.webtoon_preview::after {
    clear: both;
    content: '';
    display: block;
}

.webtoon_preview_content {
    margin: 0 0 20px 20px;
    float: left;
}

.webtoon_preview_link {
    display: inline-block;
    text-decoration: none;
}

.webtoon_preview_titlebox {
    margin-top: 5px;
}

.webtoon_preview_title {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
}

.webtoon_preview_title:hover {
    text-decoration: underline;
}

.webtoon_preview_substance {
    font-size: 12px;
    color: #000;
    margin-top: 5px;
}

.webtoon_preview_substance:hover {
    text-decoration: underline;
}

.webtoon_preview_cuttoontag {
    border: 1px solid #71b036;
    background-color: #80c83d;
    font-size: 10px;
    color: #fff;
    font-weight: normal;
    padding: 2px;
    vertical-align: middle;
}

.webtoon_preview_smarttoontag {
    border: 1px solid #df4e28;
    background-color: #ec5336;
    font-size: 10px;
    color: #fff;
    font-weight: normal;
    padding: 2px;
    vertical-align: middle;
}

footer {
    border-top: 1px solid #d1d1d1;
    padding: 23px;
    text-align: center;
}

.info {
    font-size: 12px;
    color: #999;
}

.address_name {
    display: inline-block;
    font-style: normal;
}

.copyright {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}